body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/goku4.gif);
  min-width: 100vh;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.sub_div_1 {
  margin-left: 300px;
}

.sub_div_1 p {
  color: #fff;
  font-size: 27px;
  width: 70%;
}

.sub_div_2 img {
  height: 90vh;
  float: inline-end;
}

.main > div {
  width: 50%;
}

.content {
  color: #fff;
  font-size: 70px;
  display: flex;
  flex-direction: column;
}

.purple {
  color: rgb(162, 56, 255);
  text-transform: uppercase;
}
.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/goku2.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 102vh;
}

.white {
  color: #fff;
  font-size: 65px;
  font-style: italic;
  font-variant: petite-caps;
  font-weight: 500;
  font-family: fantasy;
}

.video-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.video-content iframe {
  border-radius: 20px;
}
.main3 {
  display: flex;
  margin: 0%;
  flex-direction: column;
  background-image: url(./images/goku3.gif);
  min-height: 100vh;
  min-width: 100vh;
  max-height: 400vh;
  background-size: cover;
  align-items: center;
  background-position: center;
}
.white2 {
  font-size: 65px;
  color: #fff;
  font-family: cursive;
}
.white3 {
  color: #fff;
  font-size: 50px;
  font-variant: petite-caps;
}
.video-content2 {
  width: 100%;
  justify-content: space-around;
  overflow: hidden;
}
.video-content2 > iframe {
  border-radius: 20px;
}
.main3 .video-content2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  place-items: center;
  margin-bottom: 3rem;
}
.main5 {
  display: flex;
  background-image: url(./images/goku.gif);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.main4 {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-image: url(./images/goku5.jpg);
  min-width: 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.white4 {
  font-size: 60px;
  color: #fff;
  font-family: -webkit-body;
}
.video-content3 {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 3rem;
}
.video-content3 iframe {
  border-radius: 20px;
}
.main5 .section3 {
  width: 26%;
}
.main5 .section1 {
  width: 40%;
}
.main5 .section2 {
  width: 28%;
}
.section1 {
  display: flex;
  align-items: center;
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
}
.write {
  color: #fff;
  display: contents;
}
.main5 .section2 .setting img {
  padding-top: 40px;
}
.section2 .white5 {
  font-size: 20px;
}
.white6 {
  color: #fff;
  font-weight: bold;
  font-size: 61px;
  font-family: inherit;
}
.white7 {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  font-family: inherit;
}
.write4 {
  color: #fff;
  margin: 10px;
  font-size: 20px;
  font-family: cursive;
}
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 10px;
  padding-top: 53px;
}
.white8 {
  color: #fff;
  font-size: 19px;
}
.white9 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
}
.section1 img {
  height: 281px;
}
.white10 {
  color: #fff;
}
.write8 .white10 {
  font-size: 20px;
  font-family: cursive;
}
