body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
      circle at 74.11507924397786% 94.03727213541667%,
      #222323 0%,
      17.5%,
      rgba(34, 35, 35, 0) 35%
    ),
    radial-gradient(
      circle at 58.97912343343099% 66.87540690104167%,
      rgba(22, 87, 217, 0.61) 0%,
      14.7%,
      rgba(22, 87, 217, 0) 30%
    ),
    radial-gradient(
      circle at 0.5939420064290365% 57.086690266927086%,
      rgba(22, 87, 217, 0.38) 0%,
      7.9799999999999995%,
      rgba(22, 87, 217, 0) 14%
    ),
    radial-gradient(
      circle at 13.200607299804688% 9.217885335286459%,
      rgba(162, 56, 255, 0.24) 0%,
      16.5%,
      rgba(162, 56, 255, 0) 55%
    ),
    radial-gradient(
      circle at 100% 37.314453125%,
      rgba(22, 87, 217, 0.51) 0%,
      9.36%,
      rgba(22, 87, 217, 0) 18%
    ),
    radial-gradient(
      circle at 78.61783345540364% 57.83340454101562%,
      rgba(162, 56, 255, 0.65) 0%,
      17.5%,
      rgba(162, 56, 255, 0) 35%
    ),
    radial-gradient(
      circle at 1.8846766153971355% 94.78581746419272%,
      #222323 0%,
      8.6%,
      rgba(34, 35, 35, 0) 20%
    ),
    radial-gradient(
      circle at 48.9013671875% 49.521484375%,
      #000000 0%,
      100%,
      rgba(0, 0, 0, 0) 100%
    );
  min-width: 100vh;
  min-height: 100vh;
}

.sub_div_1 {
  margin-left: 300px;
}

.sub_div_1 p {
  color: #fff;
  font-size: 27px;
  width: 70%;
}

.sub_div_2 img {
  height: 90vh;
  float: inline-end;
}

.main > div {
  width: 50%;
}

.content {
  color: #fff;
  font-size: 70px;
  display: flex;
  flex-direction: column;
}

.purple {
  color: rgb(162, 56, 255);
  text-transform: uppercase;
}
.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
      circle at 74.11507924397786% 94.03727213541667%,
      #222323 0%,
      17.5%,
      rgba(34, 35, 35, 0) 35%
    ),
    radial-gradient(
      circle at 58.97912343343099% 66.87540690104167%,
      rgba(22, 87, 217, 0.61) 0%,
      14.7%,
      rgba(22, 87, 217, 0) 30%
    ),
    radial-gradient(
      circle at 0.5939420064290365% 57.086690266927086%,
      rgba(22, 87, 217, 0.38) 0%,
      7.9799999999999995%,
      rgba(22, 87, 217, 0) 14%
    ),
    radial-gradient(
      circle at 13.200607299804688% 9.217885335286459%,
      rgba(162, 56, 255, 0.24) 0%,
      16.5%,
      rgba(162, 56, 255, 0) 55%
    ),
    radial-gradient(
      circle at 100% 37.314453125%,
      rgba(22, 87, 217, 0.51) 0%,
      9.36%,
      rgba(22, 87, 217, 0) 18%
    ),
    radial-gradient(
      circle at 78.61783345540364% 57.83340454101562%,
      rgba(162, 56, 255, 0.65) 0%,
      17.5%,
      rgba(162, 56, 255, 0) 35%
    ),
    radial-gradient(
      circle at 1.8846766153971355% 94.78581746419272%,
      #222323 0%,
      8.6%,
      rgba(34, 35, 35, 0) 20%
    ),
    radial-gradient(
      circle at 48.9013671875% 49.521484375%,
      #000000 0%,
      100%,
      rgba(0, 0, 0, 0) 100%
    );
  min-width: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}
.white {
  color: #fff;
  font-size: 65px;
  font-style: italic;
  font-variant: petite-caps;
  font-weight: 500;
  font-family: fantasy;
}

.video-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.video-content iframe {
  border-radius: 20px;
}
.main3 {
  display: flex;
  margin: 0%;
  flex-direction: column;
  background-image: url(./images/pic3.png);
  min-height: 100vh;
  min-width: 100vh;
  max-height: 400vh;
  background-size: cover;
  align-items: center;
}
.white2 {
  font-size: 65px;
  color: #fff;
  font-family: cursive;
}
.white3 {
  color: #fff;
  font-size: 50px;
  font-variant: petite-caps;
}
.video-content2 {
  width: 100%;
  justify-content: space-around;
  overflow: hidden;
}
.video-content2 > iframe {
  border-radius: 20px;
}
.main3 .video-content2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  place-items: center;
  margin-bottom: 3rem;
}
.main5 {
  display: flex;
  background-image: url(./images/pic3.png);
  min-height: 100vh;
}

.main4 {
  flex-direction: column;
  display: flex;
  background-image: url(./images/pic3.png);
  min-height: 100vh;
  align-items: center;
}

.white4 {
  font-size: 60px;
  color: #fff;
  font-family: -webkit-body;
}
.video-content3 {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 3rem;
}
.video-content3 iframe {
  border-radius: 20px;
}

.main5 div:not(:first-child) {
  width: 30%;
}
.main5 .section1 {
  width: 40%;
}

.section1 img {
  width: 450px;
  padding: 24px;
}
.section1 {
  display: flex;
  align-items: center;
}
